/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
  font-family: 'Ubuntu Mono', monospace;
}
.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#title{
  margin-top: 30px;
}
#grid2,
#grid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  z-index: 10;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px;
  margin-left: auto; margin-right: auto;

}
#grid2{
  width: 700px;
}

#title{
  font-weight: 700;
  
}

#txt{
  font-weight: bolder;
}
.card{
  z-index: 10;

  margin: 8px;
  border-radius: 8px;
  
}
#bg{
  position: absolute;
  bottom: 0; right: 0;
  height: 100%;
  width: 100%;
  opacity: 5%;
  z-index: 0;
}
body{
  background-color: #ECECEC;
}

.Mute{

  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #35155D;
  color: white;
  font-size: 2rem;
  padding-bottom: 6.5px;
  border: 0;
  cursor: pointer;
};